# -----------------------------
# OS / herramientas
# -----------------------------
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# -----------------------------
# IDEs
# -----------------------------
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (si quieres versionar ajustes, comenta esta línea)
.vscode/

# -----------------------------
# Flutter / Dart / Pub
# -----------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
.pub/
build/
coverage/
doc/api/

# En paquetes de LIBRERÍA no se versiona el lockfile de la raíz.
# (El example sí puede tener su propio pubspec.lock)
pubspec.lock

# -----------------------------
# Plataforma nativa generada
# -----------------------------
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.*
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt
**/linux/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugin_registrant.*
**/web/**/flutter_service_worker.js
**/web/**/flutter.js